# Build Outputs
bin/
obj/

# NuGet Packages
*.nupkg
*.snupkg

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio temp
.vs/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db